NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/app
MIGRATION_DATABASE_URL=postgres://postgres:postgres@localhost:5432/app?sslmode=disable
ADMIN_DATABASE_URL=postgres://postgres:postgres@localhost:5432/app

AUTH_USER_SECRET=
AUTH_USER_URL=http://localhost:3000
AUTH_ADMIN_SECRET=
AUTH_ADMIN_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_APP_BUNDLE_IDENTIFIER=
